<body>
  <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
      <div class="card card-1">
        <div class="card-heading"></div>
        <div class="card-body">
          <h2 class="title">Create Employee</h2>
          <form (ngSubmit)="updateEmployee()">
              <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-1" type="text" placeholder="ID" name="id" [(ngModel)]="employee.id">
                  <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                </div>
              </div>
            </div>
            <div class="input-group">
              <input class="input--style-1 js-datepicker" type="text" placeholder="First Name" name="firstName" [(ngModel)]="employee.firstName">
            </div>
            <div class="input-group">
              <input class="input--style-1 js-datepicker" type="text" placeholder="Last Name" name="lastName" [(ngModel)]="employee.lastName">
            </div>
            <div class="input-group">
              <input class="input--style-1 js-datepicker" type="email" placeholder="Email" name="email" [(ngModel)]="employee.email">
            </div>
            <div class="input-group">
              <input class="input--style-1 js-datepicker" type="text" placeholder="Phone" name="phone" [(ngModel)]="employee.phone">
            </div>
            <div class="p-t-20">
              <button class="btn btn--radius btn--green" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="gender">
                                            <option disabled="disabled" selected="selected">GENDER</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div> -->
<!-- </div>
        </div>
        <div class="input-group">
          <div class="rs-select2 js-select-simple select--no-search">
            <select name="class">
              <option disabled="disabled" selected="selected">CLASS</option>
              <option>Class 1</option>
              <option>Class 2</option>
              <option>Class 3</option>
            </select>
            <div class="select-dropdown"></div>
          </div>
        </div>
        <div class="row row-space">
          <div class="col-2">
            <div class="input-group">
              <input class="input--style-1" type="text" placeholder="REGISTRATION CODE" name="res_code">
            </div>
          </div>
        </div>
        <div class="p-t-20">
          <button class="btn btn--radius btn--green" type="submit">Submit</button>
        </div> -->
<!-- </form>
      </div>
    </div>
  </div>
  </div> -->
<!-- </body> -->
